.animal_description {
  width: 30%;
  padding-left: 4%;
}
.animal_description span,
.animal_description p {
  color: white;
}
span.care_level {
  background: var(--lightGray);
  border-radius: 50%;
  color: black;
  width: 1.5em;
  height: 1.5em;
  font-weight: bold;
  text-align: center;
}
span.subtitle {
  color: var(--gray);
  font-size: 0.8em;
}
.animal_features {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.animal_feature span:nth-child(even) {
  color: var(--gray);
  font-size: 0.8em;
  padding-top: 0.5em;
}
.animal_feature {
  padding-top: 1em;
  display: flex;
}
.animal_feature_text {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
