.find_animal,
.find_animal_sec {
  font-size: 70px;
  color: white;
  position: absolute;
}
.find_animal_sec {
  top: 2em;
}
.animal_description {
  padding-left: 10%;
}
.animal_description span,
.animal_description p {
  color: white;
}
.animal_description p {
  line-height: 130%;
  letter-spacing: 0.04em;
}
.animal_features {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.animal_feature span:nth-child(odd) {
  color: var(--gray);
  font-size: 0.6em;
  padding-top: 0.5em;
  letter-spacing: 0.08em;
}
.animal_feature span:nth-child(even) {
  padding-top: 0.4em;
  letter-spacing: 0.04em;
}
.animal_feature span.care_level {
  background: white;
  border-radius: 50%;
  color: black;
  width: 1.5em;
  height: 1.5em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding-top: 0.2em;
  margin-top: 1%;
  font-size: 1em;
}
.animal_feature {
  padding-top: 1em;
  display: flex;
}
.animal_feature_text {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.animal_description h3 {
  padding-top: 2%;
}


.animal_shape {
  position: relative;
  display: flex;
  justify-content: center;
}
.animal_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
  display: flex;
  justify-content: center;
}
.cross {
  position: absolute;
  width: 332px;
  height: 332px;
  z-index: -1;
  top: 38%;
}
.cross:hover {
  background-color: var(--accentRed);
}
.cross::before,
.cross::after {
  position: absolute;
  content: ' ';
  height: 40%;
  width: 120%;
  align-self: center;
  background-color: #272727;
}
.cross::before {
  transform: rotate(45deg);
}
.cross::after {
  transform: rotate(-45deg);
}
.circle {
  z-index: -1;
  position: absolute;
  align-self: center;
  width: 23em;
  height: 23em;
  border-radius: 50%;
  background-color: #272727;
}
.animals .circle:hover {
  background-color: var(--accentRed);
}
h3 + p {
  padding-top: 2em;
}
h3 {
  margin-left: -1em;
}


@media (min-width: 300px) and (max-width: 375px) {
  
}
