header {
  height: 60px;
  background: #000;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger {
  position: relative;
  width: 24px;
  height: 24px;
}
.burger:hover {
  cursor: pointer;
}
.burger::after, .burger::before {
  position: absolute;
  background: white;
  content: '';
  width: 24px;
  height: 2px;
  transition: all .3s ease;
}
.burger::before {
  top: 6px;
}
.burger::after {
  top: 18px;
}
.burger-open::before {
  transform: rotate(45deg) translate(5px, 4px);
}
.burger-open::after {
  transform: rotate(-45deg) translate(4px, -4px);
}
