 header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_top_icons {
  display: flex;
  align-items: flex-start;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  padding: 2% 10%;
  position: fixed;
  background-color: #0F0F0F;
}
.header_top_icons_right {
  display: flex;
  justify-content: space-between;
}
.icn_bag,
.logo_bestia {
  margin-left: 10%;
}
.icn_search  {
  background: url(../img/icn-search.svg) no-repeat;
  height: 2em;
  width: 4em;
}
.icn_bag {
  background: url(../img/icn-bag.svg) no-repeat;
  height: 2em;
  width: 4em;
}
.logo_bestia {
  background: url(../img/logo-bestia.svg) no-repeat center;
  height: 2em;
  width: 10em;
}
.burger-open + .header_top_icons_right .icn_search  {
  transition: 200ms all ease;
  background: url(../img/icn-search-black.svg) no-repeat;
  height: 2em;
  width: 4em;
}
.burger-open + .header_top_icons_right .icn_bag {
  transition: 200ms all ease;
  background: url(../img/icn-bag-black.svg) no-repeat;
  height: 2em;
  width: 4em;
}
.burger-open + .header_top_icons_right .logo_bestia {
  transition: 200ms all ease;
  background: url(../img/logo-bestia-black.svg) no-repeat center;
  height: 2em;
  width: 10em;
}


@media (min-width: 300px) and (max-width: 375px) {
  .logo_bestia {
    background-size: contain;
    width: 7em;
  }
  .header_top_icons {
    padding: 4% 8%;
  }
  .icn_bag,
  .icn_search {
    background-size: 1.5em;
    margin: 0;
  }
  .burger-open + .header_top_icons_right .logo_bestia {
    background-size: contain;
    width: 7em;
  }
  .header_top_icons {
    padding: 4% 8%;
  }
  .burger-open + .header_top_icons_right .icn_search,
  .burger-open + .header_top_icons_right .icn_bag {
    background-size: 1.5em;
    margin: 0;
  }

  .menu_info {
    visibility: hidden;
  }

}


/* -----------------BURGER MENU---------------------- */

.burger {
  position: relative;
  width: 24px;
  height: 24px;
}
.burger:hover {
  cursor: pointer;
}
.burger::after,
.burger::before {
  position: absolute;
  background-color: white;
  content: '';
  width: 24px;
  height: 2px;
  transition: all .3s ease;
}
.burger::before {
  top: 6px;
}
.burger::after {
  top: 18px;
}
.burger-open::before {
  background: black;
  transform: rotate(45deg) translate(5px, 4px);
}
.burger-open::after {
  background: black;
  transform: rotate(-45deg) translate(4px, -4px);
}


/* --------------------MENU OPEN---------------------- */

.menu {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  z-index: 2;
}
.menu-open {
  visibility: visible;
  background-color: lightGray;
}
.menu-open ul {
  z-index: 1;
  width: 76%;
  font-size: 7vw;
  line-height: 0.9;
  margin-bottom: 5vw;
}
.menu-open ul li a {
  color: black;
  text-decoration: none;
}
.menu-open ul li a:hover::before {
  content: '—';
  color: black;
}
.menu-open ul li a:hover {
  cursor: pointer;
  z-index: 5;
}
.menu_info {
  position: relative;
  z-index: 1;
  width: 20%;
  font-size: 1vw;
  line-height: 1.5em;
  height: 19em;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.separator {
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  width: .278vw;
  height: inherit;
}
.menu-open .top,
.bottom {
  margin-left: 20%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}
