@import "reset.css";
@import "fonts.css";
@import "header_menu.css";

:root {
  --extraLightGray: #F0F0F0;
  --lightGray: #F9F0F0;
}

body {
  font-family: 'Neue Machina', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
