@import "reset.css";
@import "fonts.css";
@import "header_menu.css";
@import "animals.css";
@import "footer.css";
@import "map.css";

:root {
  --lightGray: #D8D8D8;
  --extralightGray: #DCDCDC;
  --accentRed: #C50000;
  --gray: #797979;
}
body {
  width: 100%;
  font-family: 'Neue Machina', sans-serif;
  overflow-x: hidden;
  background: #0F0F0F;
  height: 100vh;
}
.noscroll {
  position: fixed!important
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.wrapper {
  padding: 0 10%;
}
h2 {
  font-size: 70px;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 22px;
}
h2,
h3,
h4 {
  text-transform: uppercase;
  color: white;
}


/* ------------------BUTTONS AND TAGS----------------- */

.primary_btn_light {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 0.1em;
  padding: 2em;
  margin: 0 auto;
  width: auto;
  border: 1px solid white;
}
.primary_btn_light:hover {
  font-weight: bold;
  transition: 300ms ease all;
  font-size: 14px;
  background-color: white;
  color: #0F0F0F;
  letter-spacing: 0.1em;
  padding: 2em;
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  border: 1px solid white;
}
.primary_btn_light:active {
  font-weight: bold;
  transition: 400ms ease all;
  font-size: 14px;
  background-color: lightGray;
  color: #0F0F0F;
  letter-spacing: 0.1em;
  padding: 2em;
  margin: 0 auto;
  width: 300px;
  border: 1px solid white;
}

.primary_btn_dark {
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 0.1em;
  padding: 2em;
  margin: 0 auto;
  width: auto;
  border: 1px solid black;
}
.primary_btn_dark:hover {
  font-weight: bold;
  transition: 300ms ease all;
  font-size: 14px;
  background-color: black;
  color: black;
  letter-spacing: 0.1em;
  padding: 2em;
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  border: 1px solid black;
}
.primary_btn_dark:active {
  font-weight: bold;
  transition: 400ms ease all;
  font-size: 14px;
  background-color: lightGray;
  color: black;
  letter-spacing: 0.1em;
  padding: 2em;
  margin: 0 auto;
  width: 300px;
  border: 1px solid black;
}

.secondary_btn_light {
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.1em;
  position: relative;
}
.secondary_btn_light::after {
  content: url(../img/icn-arrow.svg);
  position: absolute;
  left: 8em;
}
.secondary_btn_light:hover::after {
  content: url(../img/icn-arrow.svg);
  position: absolute;
  left: 9em;
}
.secondary_btn_light:hover {
  cursor: pointer;
}

.tag_light,
.tag_dark {
  padding: 0.5em 0.8em 0.6em 0.8em;
  display: inline;
  background: none;
  width: fit-content;
  border-radius: 20px;
}
.tag_dark {
  border: 1px solid black;
  color: black;
}
.tag_light {
  border: 1px solid white;
  color: white;
}
