.product_card {
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  height: 80vh;
  justify-content: center;
  width: 100%;
  margin-top: 8%;
}
.product_card img {
  width: 46%;
  padding-right: 4%;
}
.product_card h3 {
  color: black;
  padding: 2% 0 5%;
}
.buy_price {
  padding-top: 14%;
}
.buy_price span {
  font-size: 1.5em;
  padding-left: 4%;
  font-weight: bold;
}
.product_card .weight {
  padding-top: 8%;
}
.product_card_description p {
  padding-top: 8%;
}
.product_card_description {
  padding-right: 8%;
}
.usage {
  padding-top: 2%;
}
.usage,
.weight {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;
}
.line {
  display: inline-block;
  border-bottom: 2px solid var(--gray);
  height: 2px;
  flex-grow: 2;
  margin: 0 1em;
}


 /* ------------------BANNER------------------ */

.banner_popular_products {
  padding-top: 8%;
  height: 30vh;
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  height: 53vh;
}
.banner_popular_products_images {
  display: flex;
  margin: auto;
  width: 90%;
  align-items: center;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.banner_popular_products_images:hover img {
  mix-blend-mode: darken;
}
.banner_popular_products_images img:nth-child(2) {
  position: absolute;
  left: 22%;
  width: 18%;
}
.banner_popular_products_images img {
  width: 80vh;
  height: auto;
}
.banner_popular_products_images img:nth-child(2) {
  animation: 20s rotate linear infinite;
}
.banner_popular_products_images img:nth-child(1) {
  padding-right: 10%;
  align-self: center;
}
.primary_btn_light {
  text-align: center;
  margin-top: 3%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
