.product_card {
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  height: 70vh;
  justify-content: center;
  width: 100%;
}
.product_card img {
  width: 40%;
}
.product_card h3 {
  color: black;
  padding: 2% 0 5%;
}
.product_card_description {
  width: 30%;
  padding-left: 2%;
}
.similar_product {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
}
.similar_product img {
  width: 100%;
  height: 100%;
}
.similar_products {
  padding: 0 10%;
}
.similar_products_cards {
  display: flex;
  justify-content: space-between;
}
.buy_price {
  padding-top: 10%;
}
.buy_price span {
  font-size: 1.5em;
  padding-left: 4%;
  font-weight: bold;
}
.product_card .weight {
  padding-top: 8%;
}
.product_card_description p {
  padding-top: 8%;
}
.usage {
  padding-top: 2%;
}
.similar_products_cards {
  padding-top:
}
