.product_card {
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  height: 70vh;
  justify-content: center;
  width: 100%;
}
.product_card img {
  width: 40%;
}
.product_card h3 {
  color: black;
  padding: 2% 0 5%;
}
.product_card_description {
  width: 30%;
  padding-left: 2%;
}

.buy_price {
  padding-top: 10%;
}
.buy_price span {
  font-size: 1.5em;
  padding-left: 4%;
  font-weight: bold;
}
.product_card .weight {
  padding-top: 8%;
}
.product_card_description p {
  padding-top: 8%;
}
.usage {
  padding-top: 2%;
}


 /* ------------------BANNER------------------ */

.banner_popular_products {
  padding-top: 8%;
  height: 30vh;
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 8%;
}
.banner_popular_products_images {
  display: flex;
  margin: auto;
  
  flex-direction: row;
  position: relative;
}
.banner_popular_products_images img:nth-child(2) {
  position: absolute;
  left: 14%;
}
.primary_btn_light {
  text-align: center;
  margin-top: 3%;
}

@keyframes rotate {
  from {

  }
  to {
    transform: rotate(360);
  }
}
